body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #CAF0F8;
}

h1, h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 500;
    color: #023E8A;
}

h2 {
    font-weight: 400;
    text-align: center;
}

p {
    text-align: ;
}

header {
    background-color: #CAF0F8;
    padding-bottom: 20px;
    text-align: center;
}

#site-title {
    width: 8%;
    float: left;
    padding-left: 2%;
    background-color: #023E8A;
    color: #CAF0F8;
    font-weight: 400;
}

figure {
    width: 75%;
    padding-left: 10%;
    padding-right: 10%;
}

img {
    width: 80%;
    margin-left: 10%;
    border: 3px solid #023E8A;
}

figcaption {
    text-align: center;
    font-style: italic;
    border-bottom: 3px solid #023E8A;
    border-left: 3px solid #023E8A;
    border-right: 3px solid #023E8A;
}


#navbar {
    text-align: center;
    overflow: hidden;
    background-color: #CAF0F8;
    padding-top: 5px;
    border-bottom: 27px solid #023E8A;
}

#navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:visited {
    color: #023E8A;
}

#navbar a:hover {
    background-color: #023E8A;
    color: #48CAE4;
}


#container {
    margin: 2% 5% 0% 5%;
    padding: 10px;
    background-color: white;
}

#spacer {
    height: 100px;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: #CAF0F8;
    width: 100%;
}

footer p {
    color: white;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
    text-align: left;
}

footer a {
    float: right;
    text-decoration: none;
    color: #023E8A;
    padding: 15px;
}

footer a:hover {
    text-decoration: underline;
    color: #CAF0F8;
    background-color: #023E8A;
    
}